<h2>Hello Users</h2>

<div class="user-component" *ngIf="users" style="color:#000">


    <div class="table metering text-right">
        <tr><td>
            <button class="btn btn-primary pull-right"
                (click)="clickNewUser()"
                data-target="#newUserModal"
                data-toggle="modal"
            >New User</button>
        </td></tr>
        <tr style="font-weight:bold">
            <td>Username</td>
            <td>Email </td>
            <td>Role</td>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td><button class="btn btn-primary"
                        (click)="editUser(user)"
                        data-toggle="modal"
                        data-target="#editUserModal"
            >Edit</button></td>
            <td><button class="btn btn-primary"
                        (click)="onDeleteUser(i)"
                        data-toggle="modal"
                        data-target="#deleteUserModal"
            >Delete</button></td>
        </tr>
    </div>

    <div id="deleteUserModal" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4>Delete user</h4>
                    <div class="modal-body" *ngIf="userToDelete">
                        <form action="">
                            <h4>Are you sure you want to delete user <span>{{userToDelete.username}}</span> ({{userToDelete.email}})</h4>
                            <div>
                                <button class="btn btn-danger">yes</button>
                                <button class="btn btn-primary">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="editUserModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> <i class="fa fa-times-circle delete-button text-bold" aria-hidden="true"></i>
                    </button>
                    <h4 class="modal-title">Edit User <strong>{{currentlyEditingUsername}}</strong></h4>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="editEmail">Email</label>
                            <input id="editEmail" name="editusername" type="text" [(ngModel)]="currentlyEditingEmail">
                        </div>
                        <div class="form-group">
                            <label for="editRole">Role</label>
                            <select id="editRole" name="editRole" type="text" [(ngModel)]="currentlyEditingRole">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editPassword1">Password</label>
                            <input id="editPassword1" name="editPassword1" type="text" [(ngModel)]="editPassword1">
                        </div>
                        <div class="form-group">
                            <label for="editPassword2">Confirm Password</label>
                            <input id="editPassword2" name="editPassword2" type="text" [(ngModel)]="editPassword2">
                        </div>

                        <div>
                            <button class="btn btn-primary" (click)="editSaveUser()" *ngIf="showEditSaveButton">Save</button>
                        </div>

                        <div>{{editUserModal}}</div>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="newUserModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle delete-button text-bold" aria-hidden="true"></i>
                    </button>
                    <h4 class="modal-title">Create New User</h4>
                </div>
                <div class="modal-body">
                     <form>
                        <div class="form-group">
                            <label for="username">User Name:</label>
                            <input type="text" id="username" class="form-control" name="userName" [(ngModel)]="username"/>
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" class="form-control" [(ngModel)]="email" />
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" id="password" name="password" class="form-control" [(ngModel)]="password"/>
                        </div>

                        <div class="form-control">
                            <label for="role">Role</label>
                            <select id="role" name="role" type="text" [(ngModel)]="selectedRole">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>

                        </div>

                        <div>
                            <button class="btn btn-primary" [disabled]="!enableCreateSaveButton" (click)="saveNewUser()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        </div>

                        <div>{{userCreateMessage}}</div>

                    </form>


                </div>
            </div>


        </div>
    </div>



</div>